<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp mdl-card">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Edit Question</h2>
        </div>
            <%= render 'form', question: @question %>
        </div>
    </div>
    <!--<%= link_to 'View', @question, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent page-loose-button' %>-->
