<div class="our-mdl">
  <div class="qa-panel">
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp question-section mdl-cell--10-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <!--<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>-->
      <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Popular Questions</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div class=" mdl-grid mdl-grid--no-spacing answer-grid">
            <%= render @recent_questions %>
          </div>
        </div>
        <% if logged_in? and current_user.permission? :post %>
          <div class="mdl-card__actions mdl-card--border">
            <%= link_to 'Create New Question', new_question_path, :class => 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
          </div>
        <% end %>
      </div>
    </section>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp question-section mdl-cell--10-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <!--<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>-->
      <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Popular Topics</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div class=" mdl-grid mdl-grid--no-spacing answer-grid">
            <%= render @recent_topics %>
          </div>
        </div>
        <% if logged_in? and current_user.permission? :topic %>
          <div class="mdl-card__actions mdl-card--border">
            <%= link_to 'Create New Topic', new_topic_path, :class => 'mdl-button mdl-js-button mdl-js-ripple-effect' %>
          </div>
        <% end %> 
      </div>
    </section>
  </div>
</div>
<br>